<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body class="main">

  <%- include('./partials/nav.ejs') %>
  <div class="chat-container">
    <div class="messages-container">
      <% if(messages){messages.forEach(message =>{ %>
      <div class="message-card">
        <p class="message-username"> <%= message.username %> </p>
        <p class="message-content"> <%= message.content %> </p>
      </div>
      <% })} else { %>
      <p class="message-card">No messages to display. Be the first!</p>
      <% } %>
    </div>
    <div class="message-form-container">
      <form action="/chat" method="POST" id="chat-form">
        <label for="username">Username: </label>
        <input type="text" id="username" name='username' required>

        <label for="content">Message: </label>
        <textarea id="content" name="content" required></textarea>

        <button>Submit</button>
      </form>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>

  <!-- socket.io script -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const form = document.getElementById('chat-form');
    const usernameInput = document.getElementById('username');
    const messageInput = document.getElementById('content');
    form.addEventListener('submit',(e)=>{
        //e.preventDefault()
        const data = {
            username: usernameInput.value,
            message: messageInput.value
        }
        if(!data.username || !data.message) return;
            socket.emit('chat message', data);
        
    })
  </script>

</body>

</html>